# =========================
# Python
# =========================
ai-service/venv/
**/__pycache__/
*.pyc

# =========================
# Node.js
# =========================
**/node_modules/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db